.advantages {
	.advantages__list {
		.mixin-all();
		//border: 2px solid red;
		width: 320px;
	}
	.advantages__title-1 {
			line-height: 26px;
			//border: 1px solid;
			margin-top: 0;
			margin-bottom: 0;
			
		}
	.advantages__recommendations {
			//border: 1px solid;
			margin-top: 0;
		}
		

	.advantages__item {
		.mixin-all();
		margin-left: -40px;
		//border: 2px solid;
	}

	.advantages__item--housing {
		width: 210px;
		height: 92px
	}
	.advantages__item--souvenir {
		width: 199px;
		height: 72px;
		margin-top: 39px;
	}

	.advantages__item--food {
		width: 180px;
		height: 92px;
		margin-top: 38px;
	}
}
