.description-of-benefits {
	.mixin-text-center();
	line-height: 26px;
	.description-of-benefits__sedona {
		font-family: @baseFont;
		font-size: @midFontSize;
		font-weight: bold;
	}

	.description-of-benefits__reasons {
		color: @black-two;
		line-height: 26px;
		
	}
	
	.reasons-one__sizes-one {
		color: @black-two;
		font-size: @baseFontSize;
		font-weight: normal;
	}
//border: 5px solid green;


}