.description-of-benefits {
	.mixin-all();
	.mixin-text-center();
	line-height: 26px;
	.description-of-benefits__sedona {
		font-family: @baseFont;
		font-size: @midFontSize;
		font-weight: bold;
	}

	.description-of-benefits__reasons {
		color: @black-two;
		line-height: 26px;
		
	}
	
	.reasons-one__sizes-one {
		color: @black-two;
		font-size: @baseFontSize;
		font-weight: normal;
	}
//border: 5px solid green;
}

@media (min-width: @tablet-width) {
	.description-of-benefits {
		//outline: 1px solid;
		.mixin-flex-center();
		width: 500px;
		height: 100px;
		margin: 51px auto 55px;
		.description-of-benefits__sedona {
			margin-top: 0;
			font-family: @baseFont;
			font-size: @bigFontSize;
			font-weight: bold;
			line-height: 26px;
			//border: 1px solid;
		}
		.description-of-benefits__reasons {
			color: @black-two;
			font-family: @baseFont;
			font-size: @baseFontSize;
			font-weight: normal;
			line-height: 26px;
			//border: 1px solid;
			text-align: left;
		}
	}
}

@media (min-width: @desktop-width) {
	.description-of-benefits {
		//outline: 1px solid;
		.mixin-flex-center();
		width: 495px;
		margin-top: 0px;

		.description-of-benefits__sedona {
			margin-top: 0;
			font-family: @baseFont;
			font-size: @bigFontSize;
			font-weight: bold;
			line-height: 26px;
			//outline: 1px solid;
		}
		.description-of-benefits__reasons {
			color: @black-two;
			font-family: @baseFont;
			font-size: @baseFontSize;
			font-weight: normal;
			line-height: 26px;
			//border: 1px solid;
			text-align: left;
		}
	}
	
}