.for-position {
	.for-position__interested {
		font-size: @bigFontSize;
		font-weight: bold;
		line-height: 26px;

	}
	.for-position__reserve {
		font-size: @baseFontSize;
		font-weight: @normal;
		line-height: 24px;
		color: @black-two;
	}
//border: 5px solid red;
.mixin-text-center();

}

@media (min-width: @tablet-width) {}

@media (min-width: @desktop-width) {
	.for-position {
		width: 434px;
		height: 98px;
		margin-top: 57px;

		.for-position__interested {
			font-size: 30px;
			font-weight: bold;
			line-height: 26px;
		}

		.for-position__reserve {
			font-size: @baseFontSize;
			font-weight: @normal;
			line-height: 24px;
			color: @black-two;
		}
	}
}