.main-nav {
	.mixin-all();
}
.site-list {
	
	.mixin-all();
}

.site-list__item {
	
	.mixin-li();
	
	.mixin-all();
	justify-content: center;
	align-items: center;
		
}

.site-list__link {
	font-family:@baseFont;
	font-size: @midFontSize;
	font-weight: bold;
	color: @white;
	text-decoration: none;
	
}

.main-header__box {
	.mixin-all();
	.mixin-width();
	.mixin-position-rel();
	background-color: @white;
	
	margin-top: -15px;


}

.main-header__logo {
	background-color: @white;
	.mixin-position();
	background-color: transparent;
	
}

.main-nav__toggle {
	margin-left: auto;
}