.main-header {
  width: 320px;
  .mixin-flex-center();
  margin: 0 auto;
  //border: 1px solid;
}



@media (min-width: @tablet-width) {
  .main-header {
    background-color: @white;
    //border: 4px solid;
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .main-header{
    width: 1200px;
    //border: 3px solid green;
    background-color: @white;

    .main-header__box {
      width: 187px;
      height: 96px;
      position: absolute;
      top: 0;
      left: 507px;
      //border: 4px solid;
      background-color: transparent;
      .main-header__logo {
        //border: 1px solid;
        position: static;
      }
      
    }
    
  }
	
}