.main-page-photo {
    .mixin-all();
    .mixin-just-center();
    align-items: center;
    justify-content: center;

    height: 158px;
    background: url("@{path-img}/bg-back-mobile@1x.jpg") no-repeat 60% 80%;
    text-align: center;
    box-sizing: border-box;
    //border: 2px solid;
}