.main-footer {
	width: 100%;
	.mixin-flex-center();
	//outline: 2px solid;
	background-color: #fefefe;
	margin: 0 auto;
	.main-footer__contacts {
		font-size: @bigFontSize;
		font-weight: bold;
		line-height: 26px;
		.mixin-text-center();
		//outline: 1px solid;
		
	}
	.social {
		.social__item {
			display: flex;
			justify-content: center;
			align-items: center;
			//outline: 1px solid;
			width: 46px;
			height: 48px;
			background-color: @blue;

			margin-right: 6px;
			.social__button {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				//outline: 2px solid red;
				.visually-hidden {
					.mixin-visually();
				}
			}			
		}
	}
	
	.main-footer__copyright {
		.mixin-text-center();
		font-size: @baseFontSize;
		font-weight: @normal;
		line-height: 26px;
		//outline: 1px solid;
	}
	.copyright {
		.mixin-flex-row();
		.mixin-just-center();
		//border: 1px solid;
	}
	.copyright__link {
		//border: 1px solid;
		margin-left: 11px;
	}
	
}


@media (min-width: @tablet-width) {
	.main-footer {
		width: 100%;
		//border: 1px solid;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin: 0 auto;

		.main-footer__social {
			display: flex;
			flex-direction: row;
			//border: 1px solid;
		}
	}
}

@media (min-width: @desktop-width) {
	.main-footer {
		width: 1200px;
		//border: 1px solid;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin: 0 auto;

		.main-footer__social {
			display: flex;
			flex-direction: row;
			//border: 1px solid;
		}
	}
}