.main-nav {
	.mixin-all();
}


.main-header__box {
	.mixin-all();
	.mixin-width();
	.mixin-position-rel();
	background-color: @white;
	
	margin-top: -15px;


}

.main-header__logo {
	background-color: @white;
	.mixin-position();
	background-color: transparent;
	
}

.main-nav__toggle {
	margin-left: auto;
}