.main-footer {
	//border: 2px solid;
	.main-footer__contacts {
		font-size: @bigFontSize;
		font-weight: bold;
		.mixin-text-center();
	}
	.main-footer__copyright {
		.mixin-text-center();
		font-size: @baseFontSize;
		font-weight: normal;
	}
	.copyright {
		.mixin-flex-row();
		align-items: center;
		justify-content: center;
		//border: 1px solid;
	}
	.copyright__link {
		//border: 1px solid;
		margin-left: 11px;
	}


}
