.photo-video__for-position {
	.mixin-all();
	.mixin-just-center();
	.mixin-border-bottom();

	.photo-video__cont {
		width: 269px;
		height: 112px;
		.mixin-just-flex();
		flex-direction: column;
		.mixin-text-center();
		margin-top: 44px;
		margin-bottom: 56px;
		//border: 1px solid;

		.photo-video__title {
			margin-top: 0;
			margin-bottom: 0;
			font-size: @midFontSize;
			font-weight: bold;
			line-height: 26px;
			//border: 1px solid;
		}
		.photo-video__text {
			margin-top: 0;
			font-size: @baseFontSize;
			font-weight: @normal;
			color: @black-two;
			line-height: 24px;
			//border: 1px solid;
		}
    }
}