.reasons-one-three {
	//border: 5px solid red;
	background-color: @grey;
	.mixin-text-center();
	.reasons-one-three__title-1 {
		font-size: @midFontSize;
		font-weight: bold;
		line-height: 26px;
	}
	.reasons-one-three__number-reason {
		font-size: @baseFontSize;
		font-weight: @normal;
		line-height: 21px;
		color: @black-two;
	}
	.reasons-one-three__text {
		font-size: @baseFontSize;
		font-weight: @normal;
		line-height: 21px;
		color: @black-two;
	}

}

@media (min-width: @tablet-width) {
	.reasons-one-three-cont {
		display: flex;
		flex-direction: row;

		.reasons-one-three {
			width: 256px;
			height: 256px;
		}
	}
}

@media (min-width: @desktop-width) {
	.reasons-one-three-cont {
		display: flex;
		flex-direction: row;

		.reasons-one-three {
			width: 400px;
			height: 256px;
		}
	}
}