.reasons-one-blue-1 {
	
	.mixin-reason-blue();
	.mixin-text-center();
	.mixin-flex-center();

	//border: 1px solid;

	}
.reasons-one-blue-1__container-bridge {
	width: 259px;
	height: 104px;
	//border: 1px solid;
	padding: 0;
	.reasons-one-blue-1__title-1 {
		.mixin-reason-title();
		//border: 1px solid;
		margin-top: 0;
		margin-bottom: 0px;
	}
	.reasons-one-blue-1__number-reason {

		//border: 1px solid;
		line-height: 26px;
	}
	.reasons-one-blue-1__sizes-one {
		//border: 1px solid;
		margin-top: 0;
	}

}

@media (min-width: @tablet-width) {
	.reasons-one-blue-1 {
		min-height: 256px;
		display: flex;
		flex-direction: row-reverse;


		.reasons-one-blue-1__container-bridge {
			width: 154px;
			height: 159px;
			border: 1px solid;
			margin-right: 51px;
		}
		.reasons-one-blue-1__photo {
			width: 512px;
			height: 256px;
			margin-left: 0;
			border: 1px solid;
		}
	}
}

@media (min-width: @desktop-width) {
	.reasons-one-blue-1 {
		height: 256px;
		display: flex;
		flex-direction: row-reverse;


		.reasons-one-blue-1__container-bridge {
			width: 400px;
			height: 256px
			//border: 1px solid;
		}
	}
}