.reasons-one-blue-1 {
	
	.mixin-reason-blue();
	.mixin-text-center();
	.mixin-flex-center();

	//border: 1px solid;

	}
.reasons-one-blue-1__container-bridge {
	width: 259px;
	height: 104px;
	//border: 1px solid;
	padding: 0;
	.reasons-one-blue-1__title-1 {
		.mixin-reason-title();
		//border: 1px solid;
		margin-top: 0;
		margin-bottom: 0px;
	}
	.reasons-one-blue-1__number-reason {

		//border: 1px solid;
		line-height: 26px;
		
	}
	.reasons-one-blue-1__sizes-one {
		//border: 1px solid;
		margin-top: 0;
	}

}