.container-mask {
	.mixin-flex-center();
}
.reasons-one-blue {
	//border: 5px solid blue;
	width: 265px;
	height: 105px;
	.mixin-flex-center();
	.mixin-reason-blue();
	.mixin-text-center();

	.reasons-one-blue__title-1 {
		.mixin-reason-title();
		margin-top: 0;
		margin-bottom: 0px;
	}
	.reasons-one-blue__number-reason {

		//border: 1px solid;
		line-height: 26px;
		
	}
	.reasons-one-blue__sizes-one {
		//border: 1px solid;
		margin-top: 0;
	}
}
