.site-list {
	
	.mixin-all();
}

.site-list__item {
	
	.mixin-li();
	.mixin-all();
	.mixin-just-center();
		
}

.site-list__link {
	font-family:@baseFont;
	font-size: @midFontSize;
	font-weight: bold;
	color: @white;
	text-decoration: none;
	line-height: 40px;
	
}