.site-list {
	//outline: 1px solid;	
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0 auto;
	position: relative;
}
.site-list__close {
	max-width: 23px;
	height: 22px;
	cursor: pointer;
	position: absolute;
	top: 13px;
	right: 22px;
	background-color: @blue;
	background-image: url("@{path-img}/icon-cross.svg") no-repeat;
	border: none;
	//outline: 2px solid;
}
.site-list__close {
	.visually-hidden {
		.mixin-visually();
	}
	.site-list__svg {
		fill: @white;
	}

}

.site-list__item {
	height: 56px;
	width: 100%;
	box-sizing: border-box;
	background-color: @blue;
    list-style: none;
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);
	text-align: center;
	padding-top: 7px;		
}

.logo {
	order: 1;
	height: 56px;
	background-color: @white;
	//outline: 2px solid;
	display: flex;
	flex-direction: row;
	border-bottom: none;
	.logo__link {
		display: none;
		background-color: transparent;
		//outline: 3px solid;
		margin-left: 109px;
		border-bottom: none;
	}
	.logo__toggle {
		height: 23px;
		width: 23px;
		cursor: pointer;
		//outline: 1px solid;
		margin-top: 17px;
		margin-left: 66px;
		padding: 0;
		background-color: @white;
		border-bottom: none;
		border-right: none;
		//border: 5px solid;
		.visually-hidden {
			.mixin-visually();
		}
	}
	.logo__toggle svg {

		fill: @blue;
		border-bottom: none;
		//outline: 1px solid;
	}
}

.site-list__link {
	display: inline-block;

	font-family:@baseFont;
	font-size: @midFontSize;
	font-weight: bold;
	color: @white;
	text-decoration: none;
	line-height: 40px;
}

@media (min-width: @tablet-width) {
	.site-list {
		width: 100%;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		background-color: @white;
		//outline: 2px solid green;
		margin-top: 0;

		.site-list__item {
			display: flex;
			width: 153px;
			background-color: @white;
			min-height: 56px;
			border-bottom: none;
			//outline: 1px solid;
			.site-list__link {
				text-align: center;
				color: @black;
				font-family:@baseFont;
				font-size: @baseFontSize;
				font-weight: bold;
				text-decoration: none;
				line-height: 26px;
				margin: auto auto;
				//outline: 1px solid;
			}
		}
		.logo {
			order: 0;
			//outline: 5px solid red;
			.logo__link {
				//outline: 2px solid;
				margin: 0 auto;
				svg {
			    	#Layer_2 path {
			    		display: none;
			    	} 
			    }
			}
			.logo__toggle {
				display: none;
			}
		}
	}

	.site-list__close  {
		display: none;
	}
	/*.site-list li:nth-child(1){
			height: 60px;
	}*/
	
}

@media (min-width: @desktop-width) {
	.site-list {
		width: 100%;
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		background-color: @white;
		//outline: 2px solid green;
		padding-top: 0;
		margin: 0 auto;

		.site-list__item {
			display: flex;
			flex-direction: row;
			width: 239px;
			background-color: @white;
			min-height: 56px;
			border-bottom: none;
			//outline: 1px solid;
			.site-list__link {
				color: @black;
				font-family:@baseFont;
				font-size: @baseFontSize;
				font-weight: bold;
				text-decoration: none;
				line-height: 26px;
				margin: auto auto;
				//outline: 1px solid;
			}
		}
		.site-list__close  {
		display: none;
		}
		.logo {
			//outline: 1px solid;
			.logo__link {
				//outline: 1px solid;
				display: block;
				margin: 0 auto;
				svg {
			    	#Layer_2 path {
			    		display: none;
			    	} 
			    }
			}			
		}
	}	
}