.photo-video {
	//outline: 1px solid red;
}
.video-sedona {
	.mixin-flex-center();
	//outline: 1px solid red;
	.video-sedona__cont {
		//outline: 1px solid;
		display: flex;
		flex-direction: column;
		margin-bottom: 40px;
	}
}

.video-sedona__text {
	font-size: @baseFontSize;
	font-weight: @normal;
	line-height: 24px;
	color: @black-two;
	.mixin-text-center();
	//outline: 1px solid;
	margin-bottom: 0;

}

.video-sedona__title {
	font-size: @midFontSize;
	font-weight: bold;
	line-height: 26px;
	color: @black;
	.mixin-text-center();
	margin: 39px auto 3px;
	//outline: 1px solid;
	}

.video-sedona__video {
	.mixin-size(320px, 201px);
	background: url("@{path-img}/video-mobile@1x.jpg") no-repeat;
	//border: 1px solid;
	margin-bottom: 146px;
}

@media (min-width: @tablet-width) {
	.video-sedona {
		.video-sedona__cont {
			.mixin-flex-center();
			width: 425px;
			margin-top: 72px;
			margin-bottom: 76px;
			//outline: 3px solid green;
			.video-sedona__title {
				margin-top: 0;
				font-size: 30px;
				font-weight: bold;
				line-height: 26px;
			}
			.video-sedona__text {
				font-size: @baseFontSize;
				font-weight: normal;
				line-height: 26px;
				color: @black-two;
				margin-top: 30px;
				//outline: 1px solid;
			}
		}
		.video-sedona__video {
			width: 468px;
			height: 499px;
			background: url("@{path-img}/video-tablet@1x.jpg") no-repeat;
			//border: 1px solid green;
		}		
	}
}

@media (min-width: @desktop-width){
	.video-sedona {
		//outline: 1px solid;
		.video-sedona__cont {
			
			width: 415px;
			height: 98px;
			margin-top: 72px;
			margin-bottom: 76px;
			//outline: 1px solid green;
			.video-sedona__title {
				margin-top: 0;
			}
		}
		.video-sedona__video {
			width: 800px;
			height: 500px;
			background: url("@{path-img}/video-desktop@1x.jpg") no-repeat;
			//outline: 1px solid green;
		}		
	}
}